<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HeeStarBucks</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&family=Oswald:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/all.min.css"> <!-- fontawesome -->
    <!-- <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="css/tailwind.css">
    <link rel="stylesheet" href="css/tooplate-antique-cafe.css">
    
<!--

Tooplate 2126 Antique Cafe

https://www.tooplate.com/view/2126-antique-cafe

-->
</head>
<body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        //console.log("Here");
        const coffee = [
            {img: "img/menu-item-1.png", name: "아이스 카페 아메리카노", detail: "깔끔하고 강렬한 에스프레소를 즐길 수 있는 커피", price: 4700},
            {img: "img/menu-item-2.png", name: "카페 아메리카노", detail: "깔끔하고 강렬한 에스프레소를 가장 부드럽게 느낄 수 있는 커피", price: 4700},
            {img: "img/menu-item-3.png", name: "카페 라떼", detail: "부드러워진 커피 위에 우유 거품을 살짝 얹은 대표적인 커피 라떼", price: 5200},
            {img: "img/menu-item-4.png", name: "바닐라 크림 콜드 브루", detail: "콜드 브루에 더해진 바닐라 크림으로 깔끔하면서 달콤한 콜드브루", price: 6000},

            {img: "img/menu-item-5.png", name: "아이스 카페 라떼", detail: "고소함과 시원함을 즐길 수 있는 대표적인 커피 라떼", price: 5200},
            {img: "img/menu-item-6.png", name: "딸기 딜라이트 요거트", detail: "딸기 과육이 더욱 상큼하게 어우러진 과일 요거트 블렌디드", price: 6500},
            {img: "img/menu-item-7.png", name: "돌체 라떼", detail: "부드러운 돌체 시럽이 들어간 음료로 달콤하고 진한 커피 라떼", price: 6100},
            {img: "img/menu-item-8.png", name: "말차 크림 프라푸치노", detail: "깊고 진한 말차 본연의 맛과 향을 시원하고 부드럽게 즐길 수 있는 프라푸치노", price: 6500}
        ]


    //만약에 6500원 상품만 7000원으로 올랐다
    const increseCoffeePrice =   coffee.map((item) => item.price === 6500 ? {...item, price:7000}:item);

    //콤마 추가해주는 부분
        increseCoffeePrice.forEach(increseCoffeePrice =>{
        console.log(increseCoffeePrice.price);
        increseCoffeePrice.price = increseCoffeePrice.price.toLocaleString();
    })

    //새 html을 생성
    const hello = document.createElement("div");
    //hello.textContent = "추가 되었습니다";
    const target = document.querySelector("#hello");
    target.appendChild(hello);


    let htmlRight= "";
    let htmlLeft = "";
    increseCoffeePrice.forEach(function (item, i){
        if(i%4 == 0 && i <4){
            htmlRight += `<div class="flex-1 m-5 rounded-xl px-4 py-6 sm:px-8 sm:py-10 tm-bg-brown tm-item-container">`;
        }else if(i%4 == 0 && i>=4){
            htmlLeft += `<div class="flex-1 m-5 rounded-xl px-4 py-6 sm:px-8 sm:py-10 tm-bg-brown tm-item-container">`;
        }
        if(i<4){
            console.log("test:"+i);
            htmlRight += `    <div class="flex items-start mb-6 tm-menu-item">
            <img src="${item.img}" alt="Image" class="rounded-md"/>
            <div class="ml-3 sm:ml-6">
                <h3 class="text-lg sm:text-xl mb-2 sm:mb-3 tm-text-yellow">${item.name}</h3>
                <div class="text-white text-md sm:text-lg font-light mb-1">${item.detail}</div>
                <div class="text-white text-md sm:text-lg font-light">${item.price}원</div>
            </div>
            </div>
            `
        }else{
            console.log("test2:"+i);
            htmlLeft += `    <div class="flex items-start justify-end mb-6 tm-menu-2">
            <div class="ml-3 sm:ml-6">
                <h3 class="text-lg sm:text-xl mb-2 sm:mb-3 tm-text-yellow">${item.name}</h3>
                <div class="text-white text-md sm:text-lg font-light mb-1">${item.detail}</div>
                <div class="text-white text-md sm:text-lg font-light">${item.price}원</div>
            </div>
            <img src="${item.img}" alt="Image" class="rounded-md"/>
            </div>
            `
        }

        if(i%4 == 3 && i <4){
            htmlRight += `</div>`;
        }else if(i%4 == 3 && i >=4){
            htmlLeft += `</div>`;
        }
    })
    document.getElementById("coffeeRight").innerHTML = htmlRight;
    document.getElementById("coffeeLeft").innerHTML = htmlLeft;

    //함수생성
    function happy(){
        console.log("진행중");
        return "KKK"
    }

    //happy();

    });
</script>


<!-- Intro -->
<div id="intro" class="parallax-window" data-parallax="scroll" data-image-src="img/antique-cafe-bg-01.jpg">
    <nav id="tm-nav" class="fixed w-full">
        <div class="tm-container mx-auto px-2 md:py-6 text-right">
            <button class="md:hidden py-2 px-2" id="menu-toggle"><i class="fas fa-2x fa-bars tm-text-gold"></i></button>
            <ul class="mb-3 md:mb-0 text-2xl font-normal flex justify-end flex-col md:flex-row">
                <li class="inline-block mb-4 mx-4"><a href="#intro" class="tm-text-gold py-1 md:py-3 px-4">Intro</a></li>
                    <li class="inline-block mb-4 mx-4"><a href="#menu" class="tm-text-gold py-1 md:py-3 px-4">Menu</a></li>
                    <li class="inline-block mb-4 mx-4"><a href="#about" class="tm-text-gold py-1 md:py-3 px-4">About</a></li>
                    <li class="inline-block mb-4 mx-4"><a href="#contact" class="tm-text-gold py-1 md:py-3 px-4">Contact</a></li>
                </ul>
            </div>            
        </nav>
        <div class="container mx-auto px-2 tm-intro-width">
            <div class="sm:pb-60 sm:pt-48 py-20">
                <div class="bg-black bg-opacity-70 p-12 mb-5 text-center">
                    <h1 class="text-white text-5xl tm-logo-font mb-5">HeeStarBucks</h1>
                    <p class="tm-text-gold tm-text-2xl">your daily energy booster</p>
                </div>    
                <div class="bg-black bg-opacity-70 p-10 mb-5">
                    <p class="text-white leading-8 text-sm font-light">
                        여기는 희스타벅스 카페 홍보 페이지입니다. <br>
                        해당 페이지를 통해서 카페의 메뉴 정보를 확인하실 수 있습니다.<br>
                        <a rel="nofollow" href="https://www.starbucks.co.kr/menu/drink_list.do" target="_parent"> → 진짜 스타벅스 메뉴 확인</a></p>
                </div>
                <div class="text-center">
                    <div class="inline-block">
                        <a href="#menu" class="flex justify-center items-center bg-black bg-opacity-70 py-6 px-8 rounded-lg font-semibold tm-text-2xl tm-text-gold hover:text-gray-200 transition">
                            <i class="fas fa-coffee mr-3"></i>
                            <span>인기 음료 메뉴 만나러가기...</span>
                        </a>
                    </div>                    
                </div>                
            </div>
        </div>        
    </div>
    <!-- Cafe Menu -->
    <div id="menu" class="parallax-window" data-parallax="scroll" data-image-src="img/antique-cafe-bg-02.jpg">
        <div class="container mx-auto tm-container py-24 sm:py-48">
            <div class="text-center mb-16">
                <h2 class="bg-white tm-text-brown py-6 px-12 text-4xl font-medium inline-block rounded-md">HeeStarBucks Best Menu</h2>
            </div>            
            <div class="flex flex-col lg:flex-row justify-around items-center">
                <div id ="coffeeRight"></div>
                <div id ="hello"></div>
                <div id ="coffeeLeft"></div>
               <!--<div class="flex-1 m-5 rounded-xl px-4 py-6 sm:px-8 sm:py-10 tm-bg-brown tm-item-container">
                    <div class="flex items-start justify-end mb-6 tm-menu-item-2">
                        <div class="text-right mr-6">
                            <h3 class="text-lg sm:text-xl mb-2 sm:mb-3 tm-text-yellow">아이스 카페 라떼</h3>
                            <div class="text-white text-md sm:text-lg font-light mb-1">고소함과 시원함을 즐길 수 있는 대표적인 커피 라떼</div>
                            <div class="text-white text-md sm:text-lg font-light">5,200원</div>
                        </div>
                        <img src="img/menu-item-5.png" alt="Image" class="rounded-md">
                    </div>
                    <div class="flex items-start justify-end mb-6 tm-menu-item-2">
                        <div class="text-right mr-6">
                            <h3 class="text-lg sm:text-xl mb-2 sm:mb-3 tm-text-yellow">딸기 딜라이트 요거트</h3>
                            <div class="text-white text-md sm:text-lg font-light mb-1">딸기 과육이 더욱 상큼하게 어우러진 과일 요거트 블렌디드</div>
                            <div class="text-white text-md sm:text-lg font-light">6,500원</div>
                        </div>
                        <img src="img/menu-item-6.png" alt="Image" class="rounded-md">
                    </div>
                    <div class="flex items-start justify-end mb-6 tm-menu-item-2">
                        <div class="text-right mr-6">
                            <h3 class="text-lg sm:text-xl mb-2 sm:mb-3 tm-text-yellow">돌체 라떼</h3>
                            <div class="text-white text-md sm:text-lg font-light mb-1">부드러운 돌체 시럽이 들어간 음료로 달콤하고 진한 커피 라떼</div>
                            <div class="text-white text-md sm:text-lg font-light">6,100원</div>
                        </div>   
                        <img src="img/menu-item-7.png" alt="Image" class="rounded-md">
                    </div>
                    <div class="flex items-start justify-end mb-6 tm-menu-item-2">                    
                        <div class="text-right mr-6">
                            <h3 class="text-lg sm:text-xl tm-text-yellow mb-1">말차 크림 프라푸치노</h3>
                            <div class="text-white text-md sm:text-lg font-light mb-1">깊고 진한 말차 본연의 맛과 향을 시원하고 부드럽게 즐길 수 있는 프라푸치노</div>
                            <div class="text-white text-md sm:text-lg font-light">6,500원</div>
                        </div> 
                        <img src="img/menu-item-8.png" alt="Image" class="rounded-md">
                    </div>
                </div>
-->



            </div>
        </div>        
    </div>
    <div id="about" class="parallax-window" data-parallax="scroll" data-image-src="img/antique-cafe-bg-03.jpg">
        <div class="container mx-auto tm-container py-24 sm:py-48">
            <div class="tm-item-container sm:ml-auto sm:mr-12 mx-auto sm:px-0 px-4">
                <div class="bg-white bg-opacity-80 p-12 pb-14 rounded-xl mb-5">
                    <h2 class="mb-6 tm-text-green text-4xl font-medium">따로 문의사항이 있다면</h2>
                    <p class="mb-6 text-base leading-8">
                        위에는 희스타벅스의 인기메뉴를 소개해두었습니다. 추가적으로 문의사항이 있다면 하단의 양식을 통하여 메일문의 부탁드립니다.
                  </p>
                    <p class="text-base leading-8">
                        진짜 문의를 하고 싶으시다면 <a rel="nofollow" href="https://www.starbucks.co.kr/index.do" target="_parent">여기를</a>
                    통하여 궁금하신 부분들을 해결하실 수 있습니다</p>
                </div>
                <a href="#contact" class="inline-block tm-bg-green transition text-white text-xl pt-3 pb-4 px-8 rounded-md">
                    <i class="far fa-comments mr-4"></i>
                    문의 메일 남기기
                </a>
            </div>           
        </div>        
    </div>
    <div id="contact" class="parallax-window relative" data-parallax="scroll" data-image-src="img/antique-cafe-bg-04.jpg">
        <div class="container mx-auto tm-container pt-24 pb-48 sm:py-48">
            <div class="flex flex-col lg:flex-row justify-around items-center lg:items-stretch">
                <div class="flex-1 rounded-xl px-10 py-12 m-5 bg-white bg-opacity-80 tm-item-container">
                    <h2 class="text-3xl mb-6 tm-text-green">문의 사항 남기기</h2>
                    <p class="mb-6 text-lg leading-8">
                       궁금하시거나 문의가 필요하신 부분이 있으시다면 해당 정보와 옆의 메시지 양식을 통하여 문의부탁드립니다.
                    </p>
                    <p class="mb-10 text-lg">
                        <span class="block mb-2">Tel: <a href="#" class="hover:text-yellow-600 transition">010-123-4567</a></span>
                        <span class="block">Email: <a href="#" class="hover:text-yellow-600 transition">heestarbucks@company.com</a></span>
                    </p>
                    <div class="text-center">
                        <a href="https://www.google.com/maps/search/%EC%8A%A4%ED%83%80%EB%B2%85%EC%8A%A4/data=!3m1!4b1?entry=ttu&g_ep=EgoyMDI1MDEyMS4wIKXMDSoASAFQAw%3D%3D"
                           class="inline-block text-white text-2xl pl-10 pr-12 py-6 rounded-lg transition tm-bg-green">
                            <i class="fas fa-map-marked-alt mr-8"></i>
                            지도보기
                        </a>
                    </div>                    
                </div>
                <div class="flex-1 rounded-xl p-12 pb-14 m-5 bg-black bg-opacity-50 tm-item-container">
                    <form action="/email" method="POST" class="text-lg" onsubmit="return disableButton();">
                        <input type="text" name="name" class="input w-full bg-black border-b bg-opacity-0 text-white px-0 py-4 mb-4 tm-border-gold" placeholder="고객님 성함" required="" />
                        <input type="email" name="email" class="input w-full bg-black border-b bg-opacity-0 text-white px-0 py-4 mb-4 tm-border-gold" placeholder="이메일" required="" />
                        <textarea rows="6" name="message" class="input w-full bg-black border-b bg-opacity-0 text-white px-0 py-4 mb-4 tm-border-gold" placeholder="문의 사항" required=""></textarea>
                        <div class="text-right">
                            <button type="submit" class="text-white hover:text-yellow-500 transition" id="submitButton">전송하기</button>
                        </div>                        
                      </form>
                </div>
            </div>
            <footer class="absolute bottom-0 left-0 w-full">
                <div class="text-white container mx-auto tm-container p-8 text-lg flex flex-col md:flex-row justify-between">
                    <span>Copyright 2025. </span>
                    <span class="mt-5 md:mt-0">HeeStarBucks</span>
                </div>                
            </footer>
        </div>        
    </div>    

    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/parallax.min.js"></script>
    <script src="js/jquery.singlePageNav.min.js"></script>
    <script>

        function disableButton() {
            let button = document.getElementById("submitButton");
            button.disabled = true;  // 버튼 비활성화
            button.innerText = "제출 중..."; // 버튼 텍스트 변경 (선택 사항)
            return true;  // 폼이 정상적으로 제출되도록 true 반환
        }

        function checkAndShowHideMenu() {
            if(window.innerWidth < 768) {
                $('#tm-nav ul').addClass('hidden');                
            } else {
                $('#tm-nav ul').removeClass('hidden');
            }
        }

        $(function(){
            var tmNav = $('#tm-nav');
            tmNav.singlePageNav();

            checkAndShowHideMenu();
            window.addEventListener('resize', checkAndShowHideMenu);

            $('#menu-toggle').click(function(){
                $('#tm-nav ul').toggleClass('hidden');
            });

            $('#tm-nav ul li').click(function(){
                if(window.innerWidth < 768) {
                    $('#tm-nav ul').addClass('hidden');
                }                
            });

            $(document).scroll(function() {
                var distanceFromTop = $(document).scrollTop();

                if(distanceFromTop > 100) {
                    tmNav.addClass('scroll');
                } else {
                    tmNav.removeClass('scroll');
                }
            });
            
            document.querySelectorAll('a[href^="#"]').forEach(anchor => {
                anchor.addEventListener('click', function (e) {
                    e.preventDefault();

                    document.querySelector(this.getAttribute('href')).scrollIntoView({
                        behavior: 'smooth'
                    });
                });
            });
        });
    </script>
</body>
</html>